<div class="card m-3">
  <h5 class="card-header">Universidad Veracruzana</h5>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col">
          <label>Título</label>
          <select formControlName="titulo" class="form-control">
            <option value=""></option>
            <option value="1">Licenciatura</option>
            <option value="2">Especialidad</option>
            <option value="3">Maestría</option>
            <option value="4">Doctorado</option>
          </select>
        </div>
        <div class="form-group col-3">
          <label>Nombre</label>
          <input type="text" formControlName="nombre" class="form-control" />
        </div>
        <div class="form-group col-3">
          <label>Apellido Paterno</label>
          <input
            type="text"
            formControlName="apellidoPaterno"
            class="form-control"
          />
        </div>
        <div class="form-group col-3">
          <label>Apellido Materno</label>
          <input
            type="text"
            formControlName="apellidoMaterno"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group">
        <label>Correo Electrónico</label>
        <input
          type="text"
          formControlName="correoElectronico"
          class="form-control"
        />
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label>Contraseña</label>
          <input
            type="password"
            formControlName="contrasenia"
            class="form-control"
          />
        </div>
        <div class="form-group col">
          <label>Confirmar Contraseña</label>
          <input
            type="password"
            formControlName="confirmarContrasenia"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          formControlName="aceptarTerminos"
          id="aceptarTerminos"
          class="form-check-input"
        />
        <label for="aceptarTerminos" class="form-check-label"
          >Acepto términos y condiciones</label
        >
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Registrarse</button>
        <button class="btn btn-secondary" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
